/* -- CSS for alle enheter -- */

body {
    font-family: "Instrument Sans", sans-serif;
    margin: 0 auto;
    width: 1400px;
}

section {
    margin: 0 auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

nav {
    display: flex;
    flex: 2;
    gap: 60px;
    justify-content: center;
    align-items: center
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: left;
}

.search input {
    padding: 8px 15px;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
}

.search, button {
    background: none;
    border: none;
    cursor: pointer;
}

button.search-knapp {
    position: absolute;
    margin-left: 190px;
}

.ikoner {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: right;
    flex: 1;
}

.ikoner i {
    color: #000;
}

.banner-container {
    border-radius: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20px 0px;
}

.banner-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner-slide {
    min-width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.slide {
    background: url('https://cdn.prod.website-files.com/66df4605227bed2a7862f000/6738ffa226491b0492937331_Designblokk%20BG%20NO%20logo.png') no-repeat center center/cover;
}

.slide-content {
    text-align: center;
    width: 75%;
}

.slide-content h2 {
    margin-bottom: 10px;
}

.slide-content p {
    margin-bottom: 20px;
}

.slide-content button {
    background-color: #FFFFFF;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 800;
    border-radius: 20px;
    font-size: 16px;
    margin: 20px;
    padding: 10px 40px;
}

.arrow {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    color: #000000;
    transform: translateY(-50%);
    border-radius: 50%;
    font-weight: 800;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.centered-title {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.category-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid #ddd;
    transition: background-color 0.2s, color 0.2s;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 800;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
}

.category-buttons button:hover {
    background-color: #ddd;
    color: #000000;
}

.category-buttons .active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
    justify-content: space-between;
    padding-bottom: 40px;
}

.product-card {
    background: white;
    overflow: hidden;
    width: calc(33.333% - 20px);
    position: relative;
}

.product-card img {
    width: 100%;
    border-radius: 20px;
    height: auto;
    display: block;
}

.product-card .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .card-content h3 {
    font-size: 1em;
    margin: 10px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .card-content .price {
    font-size: 0.9em;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 6px 8px;
    cursor: pointer;
}

.favorite-icon:hover {
    background: rgba(255, 171, 171, 0.575);
}

/* -- CSS for mobil -- */

@media (max-width: 1050px) {
    .header {
        flex-direction: column;
    }
    .logo {
        order: 2;
        margin-bottom: 10px;
    }
    nav {
        order: 3;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        align-items: center;
    }
    .search {
        order: 1;
        margin-bottom: 10px;
    }
    .icons {
        order: 4;
        padding-bottom: 15px;
    }
    .arrow {
        display: none;
    }
    body {
        width: 90%;
    }
    .product-card {
        background: white;
        overflow: hidden;
        width: 100%;
        position: relative;
    }
}